{% set powerCaptcha = oViewConf.getPowerCaptchaSettings() %}
{% if powerCaptcha.isConfigured() and powerCaptcha.isProtectionEnabled(powerCaptchaSection) %}

    {% block power_captcha_widget %}
        {{ script({ include: powerCaptcha.getJavaScriptUrl() }) }}
        {{ script({ include: oViewConf.getModuleUrl("power_captcha", "js/power-captcha-validation.js") }) }}

        <div data-pc-api-key="{{ powerCaptcha.getApiKey() }}" 
            data-pc-client-uid="{{ powerCaptcha.getClientUid() }}"
            data-pc-endpoint="{{ powerCaptcha.getTokenRequestUrl() }}"
            data-pc-check-mode="{{ powerCaptcha.getCheckMode() }}"
            {% if pcUserInputField %}
            data-pc-user-input-field="{{ pcUserInputField  }}"
            {% endif %}
            {% if pcFormElement %}
            data-pc-form-element="{{ pcFormElement }}"
            {% endif %}
            data-pc-debug="{{ powerCaptcha.isDebugMode() ? 'true' : 'false' }}"
            class="{% if Errors.powerCaptchaErrors %}pc-show-invalid{% endif %}">
        </div>
    {% endblock %}

    {% if Errors.powerCaptchaErrors %}
        {% block power_captcha_error_message %}
            {{ translate({ ident: "POWER_CAPTCHA_CONFIRM_SECURITY_CHECK_HINT" }) }}
        {% endblock %}
    {% endif %}

{% endif %}